/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* CSS variables */
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login_form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.login_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
}

.login_inputs, 
.login_box {
  display: grid;
}

.login_inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login_box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login_input, 
.login_button {
  border: none;
  outline: none;
}

.login_input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login_input::placeholder {
  color: var(--white-color);
}

.login_box i {
  font-size: 1.25rem;
}

.login_check, 
.login_check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login_check-box {
  column-gap: .5rem;
}

.login_check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login_forgot {
  color: var(--white-color);
}

.login_forgot:hover {
  text-decoration: underline;
}

.login_button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
}

.login_register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login_register a {
  color: var(--white-color);
  font-weight: 500;
}

.login_register a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login_form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login_title {
    margin-bottom: 2rem;
  }
}


/* Navbar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}